body {
    background-color: rgb(88, 88, 72);
    display: flex;
    justify-content: center;
}

.calculadora {
    height: 480px;
    width: 466px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: solid;
    margin: 35px;
    border-radius: 15px;
    background-color: black;
    box-shadow: 0 10px 20px rgb(34, 33, 33);
}

#display {
    width: 466px;
    height: 130px;
    display: flex;
    margin: 2px;
    background-color: black;
    text-align: right;
    font-size: xx-large;
    color: white;
}

.botonNumero {
    width: 112.5px;
    height: 64px;
    margin: 2px;
    border-radius: 15px;
    background-color: rgb(27, 26, 26);
    font-size: x-large;
    font-weight: 700;
    color: white;
}

.botonOperador {
    width: 112.5px;
    height: 64px;
    margin: 2px;
    border-radius: 15px;
    background-color: rgb(92, 91, 90);
    font-size: x-large;
    font-weight: 700;
    color: white;
}

.botonIgual {
    width: 112.5px;
    height: 64px;
    margin: 2px;
    border-radius: 15px;
    background-color: rgb(70, 133, 70);
    font-size: xx-large;
    color: white;
}

.botonBorrar {
    width: 112.5px;
    height: 64px;
    margin: 2px;
    border-radius: 15px;
    background-color: red;
    font-size: x-large;
    font-weight: 700;
    color: white;
}

